@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap");
.redressed {
    font-family: Arial, Helvetica, sans-serif;
}
.merriweather {
    font-family: Arial, Helvetica, sans-serif;
}
.cc-navbar {
    background-color: rgba(0, 0, 0, .55);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, .54);
    z-index: 99;
}
.cc-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}
.cc-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: rgb(64, 224, 208);
} 
.titre {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}
.envie1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: grey;
}
.envie2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
}
.comment {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.tuto {
    font-size: 12px;
    font-weight: bold;
    color: greenyellow;
}
.carousel-caption {
    background: #80808090;
}
.banner, .order-form {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../images/cover.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 800px;
}
.order-form {
    height: 500px;
}
.banner .banner-desc {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}
.cc-menu {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../images/Kitchen.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 1200px;
}
.btn-order {
    color: rgb(64, 224, 208);
    border-color:rgb(64, 224, 208);
    transition: 0.5s;
}
.btn-order:hover,
.btn-order:active {
    color: #fff;
    background-color: rgb(64, 224, 208);
}